.msgArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatScrollBar::-webkit-scrollbar {
}
.chatScrollBar{
    overflow-y: scroll;
}

.custom-paper{
    width: 80vw;
    height: 89vh;
    margin: 15px auto;
    overflow: hidden;
}

.table{
    min-width: 650;
}

.chatSection{
    width: 100%;
    height: 100%;
}

.headBG{
      background-color: #e0e0e0;
}

.borderRight500 {
      border-right: 1px solid #e0e0e0;
}

.messageArea {
    height: 70vh;
    overflow-y: auto;
}

.paper {
    width: 80vw;
    height: 89vh;
    margin: 15px auto;
    overflow: hidden;
}